@media (min-width: 768px) 
{
  .navbar-nav > li > a 
  {
    
    margin-bottom:0px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left:0px
  }
  .navbar-nav > li > div 
  {
    margin-bottom:0px;
    padding-top: 17px;
    padding-left:0px;
    padding-bottom: 17px;
    
    
    font-size:0.9em;
  }



	.nav.navbar-nav.navbar-right li  a , li a
	{
	text-align:center;
	text-decoration: none;
	font-family:"Times New Roman";
	font-weight:600;
	font-size:0.9em;
	color:grey;
	
	}

	



	.imgpad
	{
		margin: 2% 1% 5% 1%;
		padding:0% 0% 0% 0%;
		opacity:0.5;
		width:40px;
		height: auto;
		transition: 0.20s;
	}

	.col-xs-6.col-lg-4.align-self-center a img.imgpad:hover
	{
		opacity:1;
		
		transform: scale(1.2,1.2);
		transition: 0.20s;
	}

	p.bottomMedia
	{	
		margin:0;
		padding:0;
		color:grey;
		text-align: center;
		font-size: 0.95em;
	}
	p.bottomMedia:before
	{	
		content:"Follow us";
	}

	.col-md-1{width:8.33%;}
	.col-md-2{padding:0px;width:16.66%;}
	.col-md-3{padding:0px;width:25%;}
	.col-md-4{padding:0px;width:33.33%;}
	.col-md-5{padding:0px;width:41.66%;}
	.col-md-6{padding:0px;width:50%;}
	.col-md-7{padding:0px;width:58.33%;}
	.col-md-8{padding:0px;width:66.66%;}
	.col-md-9{padding:0px;width:75%;}
	.col-md-10{padding:0px;width:83.33%;}
	.col-md-11{padding:0px;width:91.66%;}
	.col-md-12{padding:0px;width:100%;}



	.header 
	{
  		border: 0;
 
  		background-color:black;
 		background-image: url('daldonlar.png'),url('baloncuk.png'),url('moon.png');
  		background-size:23.1% auto,50% auto,40% auto;
  		background-repeat: no-repeat,no-repeat,no-repeat;
 		background-position: center,left,right;
 		width:100%;
 		height:16vh;
 		top:0;
 		margin: 0;
  		padding: 0;
  
	}


	


.polaroid1, .polaroid1 div.bilgi
{
  
  width: 75%;
  
}

	div.özetText
{
  
  font-size:1em;
  
}

div.özetText h1

{
	font-size:2.5em;
	
}



div.özetText h1
{
	font-size: 1.5em;
} 





.resimüstü1

{
  width:67.5%;
  
  background: rgba(0,0,0,0);
  text-align: center;
  padding:15% 0;
  font-size:1.25em;
  color:white;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  transition:0.6s;
  transition-delay: 0.2s;
  opacity: 0;
}


div.polaroid1:hover div.resimüstü1

{
    
  background: rgba(0,0,0,0.7);
  text-align: center;
  padding:15% 0;
  
  color:white;
  position:absolute;
  transition:0.6s;

    opacity:1;
    


}

.polaroid1 div.ulas

{
   position: absolute;
    top: 75vh;
    left: 24%;
   
  color:red;
  padding-top:2.5vh;
  width:52%;
  height: 10vh;
  border:1px solid red;
  border-radius: 5px;
  background:rgba(0,0,0,0.7);
  font-size:1.5em;
  opacity:0;
  z-index: 150;
  transition:0.6s;

}

}