		body
  		{
  			background-color: white;
  			margin: 0;
  			padding: 0;
  		}

  		div#errorCon
  			{
  				display: none;
  			}

  		div#errorWrite
  			{
  				width: 70%;
  				float: left;
  			}

  		div.container-fluid.basvuru
  			{
  				width: 70%;
  			}

  		form.basvuru
  			{
  				background-color: #ffffff; 
  				padding: 15px;
  				border: 1px solid grey;
  				border-right: none;
  				border-left: none;
  			}

  		div
  		{
  			margin:0;
  		}

  		div>input.form-control, div>select.form-control
  		{
  			margin: 0;
  			padding: 5px;
  			height: 3vh

  		}

  		div>textarea.form-control.ilgiAlanı
  		{
  			height:10vh;
  			margin:0
  			padding: 5px;

  		}

  		div>label
  		{
  			font-size: 13px;
  			font-weight: bold
  		}

  		label.opRad
  		{
  			margin-right: 2vw
  		}

  		div.row
  		{
  			margin-bottom: 1vh
  		}

  		h3.baslık
  		{
  			margin-bottom: 5vh;
  			color: #005ce6;
  		}

  		input, input.form-control, select.form-control, textarea.form-control, div#checkSehir label
		{
		    font-size:10px;
		}

		div.container-fluid
		{
			border-style: bold;
			border-radius: 5px;
			border-color: red;
			border-width:5px;
		}

		div.required
		{
			display: none;
			position: absolute;
			color: red;
			font-size: 8px;
		}
		div.requiredSayfa
		{
			display: block;
			position: relative;
			font-size: 9px;
			color: black;
			padding: 10px;
			width: 170px;
			z-index: 100;
			border-radius: 10px;
			width: 70%;
			margin-left: auto;
			margin-right: auto;
			padding-left: 20px;
		}

		span.required
		{
			color:red;
		}

		span.required:hover + div.required
		{
			display: block;
			position: absolute;
			font-size: 9px;
			color: red;
			background-color: lightyellow;
			padding: 10px;
			width: 170px;
			z-index: 100;
			border-radius: 10px;
		}
		input.sınıf
		{
			margin-left: 20px
		}
		label.sınıf
		{
			margin-left: 5px
		}

		select.sSınıf
		{
			display: none;
		}


		input.btn.btn-info
		{
			display: disabled
		}

	div.sehirSec
		{
			position: relative;
		}
	div.opKapama
		{
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
	div#checkSehir
		{
			display: none;
			color: black;
			background-color: rgba(255,255,255,1);
			max-height: 300px;
			height: 30vh;
			overflow: auto;
		}

	div#checkSehir label
		{
			display: block;
		}
	div#checkSehir input
		{
			height: 10px;
		}

	div#checkSehir label:hover
		{
			background-color: #0069e6;
			color: white;
		}